body {
  color: darkred;
  font-family: monospace;
  text-align: center;
  background-color: rgb(52, 176, 248);
}

/* viewHighScore + Timer */
header {
  background-color: rgb(52, 176, 248);
}

/* HighScore buttons container */
.buttons-container {
  padding: 10px;
}
.clear-high-score,
.back-button {
  background-color: darkred;
  color: rgb(52, 176, 248);
}
