body {
  background-color: blueviolet;
}

/* viewHighScore + Timer */
header {
  background-color: darkgreen;
}
/* countdown timer */
.timer {
  background-color: brown;
  font-size: large;
  padding: 10px;
}
/* start container */
.start {
  padding: 10px;
  background-color: cyan;
}

/* start quiz button */
.start-button {
  background-color: chocolate;
  padding: 10px;
}
