body {
  font-family: monospace;
  background-color: blueviolet;
}

/* viewHighScore + Timer */
header {
  color: rgb(246, 12, 12);
  text-align: center;
  background-color: rgb(28, 129, 245);
}
/* game logo */
.logo {
  width: 5rem;
  height: 5rem;
}
/* game name */
.game-name {
  font-size: 50px;
}
/* countdown timer */
.timer {
  margin: 20px;
  background-color: rgb(28, 129, 245);
  text-align: center;
  font: size 30px;
  padding: 20px;
}
/* start container */
.start-container {
  text-align: center;
  padding: 80px;
  background-color: cyan;
}

.rules {
  font-size: 20px;
  padding: 20px;
}
/* start quiz button */
.start-button {
  font-size: large;
  color: rgb(246, 12, 12);
  background-color: rgb(28, 129, 245);
  padding: 20px;
}
/* .game-container {
  padding: 80px;
  background-color: rgb(28, 129, 245);
  font-size: 20px;
  text-align: center;
} */
/* .question-container {
  background-color: royalblue;
} */
/* .answer-container {
  font-size: large;
  padding: 20px;
} */
/* button {
  color: rgb(246, 12, 12);
  background-color: azure;
  padding: 30px;
  margin: 2rem;
  border-radius: 0.5rem;
} */
